.product-card {
  margin-bottom: 1rem;
  border-radius: 0;
}

.product-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 1rem;

  .product-card-title {
    text-align: left;
  }
}

.product-card-body {
  border-top: 2px solid var(--cui-primary);
  margin-inline: 0;
  height: auto;
}

.product-card-image {
  width: 100px;
  height: 100px;
}

.product-card-image.body {
  width: 200px;
  height: 200px;
}
