<c-card class="product-card">
  <c-card-body class="product-card-body">
    <h5 cCardTitle>{{ product?.code }}</h5>

    <img
      *ngIf="product?.neutral_image !== null"
      [cCardImg]="'top'"
      [src]="product?.neutral_image"
      [alt]="product?.title"
    />

    <h6 cCardTitle>{{ product?.title }}</h6>
    <h8 cCardTitle>{{ product?.brand_code }}</h8>
    <h8 cCardTitle>{{ 'products.family.' + product?.family | translate }}</h8>
    <ul>
      <li *ngFor="let cat of product?.categories">
        {{ cat.category }}
      </li>
    </ul>
    <div *ngFor="let variant of product?.variants">
      <span *ngIf="variant?.a0_code !== null"
        >{{ variant?.a0_code }} {{ variant?.a0_description }}
        {{ variant?.availability }}
      </span>
      <span *ngIf="variant?.a1_code !== null"
        >{{ variant?.a1_code }} {{ variant?.a1_description }}
        {{ variant?.availability }}</span
      >
      <span *ngIf="variant?.a4_code !== null"
        >{{ variant?.a4_code }} {{ variant?.a4_description }}
        {{ variant?.availability }}</span
      >
    </div>
  </c-card-body>
</c-card>
