<c-card class="product-card">
  <c-row class="product-card-container">
    <c-col xs="2">
      <span>{{ product?.code }}</span>
    </c-col>
    <c-col xs="2">
      <img
        class="product-card-image"
        *ngIf="product?.neutral_image_url !== null"
        [cCardImg]="'top'"
        [src]="product?.neutral_image_url"
        [alt]="product?.title"
      />
    </c-col>
    <c-col class="product-card-title" xs="4">
      <span>{{ product?.title }}</span>
    </c-col>
    <c-col xs="1">
      <span>price</span>
    </c-col>
    <c-col xs="1">
      <span>availability</span>
    </c-col>
    <c-col xs="2">
      <button
        (click)="toggleCollapse(product?.id)"
        cButton
        class="me-1"
        color="primary"
      >
        <svg [cIcon]="icons.cilPlus" size="xl" title="List Icon"></svg>
      </button>
    </c-col>
  </c-row>
  <!-- card body -->
  <c-row class="product-card-body" [visible]="visible[product?.id]" cCollapse>
    <c-col [xs]="2">
      <div>
        <img
          class="product-card-image body"
          *ngIf="product?.neutral_image_url !== null"
          [cCardImg]="'top'"
          [src]="product?.neutral_image_url"
          [alt]="product?.title"
        />
      </div>
    </c-col>
    <c-col *ngIf="product?.variants.length > 1" [xs]="8">
      <ng-container *ngIf="product?.split == 'a0'">Split a0 </ng-container>
      <ng-container *ngIf="product?.split == 'a1'">
        <h6>{{ product?.a1 }}</h6>
        <div class="color-icon-section">
          <div class="color-icon-wrapper">
            <div *ngFor="let variant of product?.variants | distinctCode:'a1_code'" class="color-info">
              <h3>{{ variant?.a1_code }}</h3>
           
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="product?.split == 'a4'">Split A4 </ng-container>
      <ng-container *ngIf="product?.split == null">No split </ng-container>
    </c-col>
    <c-col *ngIf="product?.variants.length == 1" [xs]="8">
      <div>Prodotto senza varianti</div>
    </c-col>
    <c-col [xs]="2">
      <div>aggiungi</div>
    </c-col>
  </c-row>
</c-card>
