.product-card {
  max-height: 250px;
}

.product-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .product-card-title {
    text-align: left;
  }
}

.product-card-body {
  display: flex;

  align-items: center;
  justify-content: center;
  h5 {
    text-align: center;
  }

  h6 {
    font-size: 0.8rem;
    color: #888888;
    text-align: center;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .product-card-button {
    justify-self: flex-end;
  }
}

.product-card-image {
  width: 100px;
  height: 100px;
}
