<c-sidebar
  #aside1="cSidebar"
  class="d-print-none hide border-start"
  colorScheme="light"
  id="aside1"
  overlaid
  placement="end"
  size="lg"
>

    <c-sidebar-header class="aside-header bg-light">
        <button
          aria-label="Close aside"
          cButtonClose
          cSidebarToggle="aside1"
          toggle="visible"
        ></button>
  
    </c-sidebar-header>

    <div [flush]="true" cListGroup>
      @for (message of messages; track message; let i = $index, last = $last) {
        <a
          [cBorder]="{ bottom: last ? 0 : 1 }"
          [routerLink]="'/apps/email/message'"
          cListGroupItem
          class="message"
        >
          <div class="py-3 pb-5 me-3 float-start">
            <img
              src="images/avatars/{{ i + 1 }}.jpg"
              class="rounded-circle md"
            />
          </div>
          <div>
            <small class="text-body-secondary">Lukasz Holeczek</small>
            <small class="text-body-secondary float-end mt-1">1:52 PM</small>
          </div>
          <div class="text-truncate fw-semibold">
            Lorem ipsum dolor sit amet
          </div>
          <small class="text-body-secondary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt...
          </small>
        </a>
      }
    </div>

</c-sidebar>
