// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import 'charts';

// custom tweaks for scrollbar styling (wip)
@import 'scrollbar';

// custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

//Larghezza container default
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1540px;
  }
}

.sidebar-header.aside-header {
  display: flex;
  justify-content: space-between;
  padding: var(--cui-sidebar-padding-y) var(--cui-sidebar-padding-x);
  flex-direction: row-reverse;
}

.sidebar-header .btn-close {
  margin: 0 !important;
}

.sidebar-brand {
  fill: #fff;
}

.product-card-header {
  background-color: var(--cui-primary);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cui-white);
  margin-inline: 0;
  text-align: center;


}
