<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="px-4">
  

    <c-header-nav class="d-none d-md-flex ms-auto ">

    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-white text-opacity-50"></div>
      </div>
      <ng-container *ngTemplateOutlet="languageDropdown" />
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-white text-opacity-50"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="ms-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>


  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0" aria-label="Open user menu">
      <svg cIcon name="cilUser" size="lg"></svg>
      {{ this.profile?.business_name }}
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <a cDropdownItem routerLink="/profile/user">
          <svg cIcon class="me-1" name="cilUser"></svg>
          {{ 'menu.user' | translate }}
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="/profile/settings">
          <svg cIcon class="me-1" name="cilSettings"></svg>
          {{ 'menu.settings' | translate }}
        </a>
      </li>
      <li>
        <a cDropdownItem (click)="this.logout()">
          <svg cIcon class="me-1" name="cilAccountLogout"></svg>
          {{ 'menu.logout' | translate }}
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>





<ng-template #languageDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open language picker">
      <svg cIcon name="cif{{ this.langIcon(translationService.currentLang) }}" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      
      @for ( language of translationService.availableLangs; track language ) {
        <button
          (click)="translationService.changeLang(language)"
          [active]="currentLanguage === language"
          cDropdownItem
          class="d-flex align-items-center justify-content-evenly"
        >
        <svg
          cIcon
          id="{{ language }}"
          name="cif{{ this.langIcon(language) }}"
          size="xl"
          title="{{ 'languages.' + language | translate }}"
        ></svg> <span>{{ 'languages.' + language | translate }}</span>
        </button>
      }
      
    </div>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
        <button
          (click)="colorMode.set(mode.name)"
          [active]="colorMode()===mode.name"
          cDropdownItem
          class="d-flex align-items-center"
        >
          <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
          {{ mode.text }}
        </button>
      }
    </div>
  </c-dropdown>
</ng-template>
